*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.selection {
    position :absolute;
    right: 3%;
    bottom: 3%;
    width: 15px;
    aspect-ratio: 1;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
}